
<!--<h1>Pagina principal => App</h1> -->
<!--<div>
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">Pagina Principal => Home</a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Pagina Contactenos => Contact</a>
    </li>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Tableros de Admin => Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/users']" routerLinkActive="router-link-active">Admin Usuarios => Users</a>
    </li>
  </ul>
</div> -->

<!--Etiqueta propia de Angular para mostrar los componentes hijos-->
<router-outlet></router-outlet>

<br><hr>
<h5>Pie de pagina</h5>
<p> contenido del pie de pagina...</p>