<h1>Pagina Principal => Publica</h1>

<p>public works!</p>
<!--
<div>
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">Pagina Principal => Home</a>
    </li>
    <li>
      <a [routerLink]="['/home/contact']" routerLinkActive="router-link-active">Pagina Contactenos => Contact</a>
    </li>
    <li>
      <a [routerLink]="['/admin']" routerLinkActive="router-link-active">Tableros de Admin => Dashboard</a>
    </li>

  </ul>
</div> -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Página Principal => Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['/home/contact']" routerLinkActive="router-link-active" >Página Contáctenos => Contact</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Tablero de Admin => Dashboard</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>


<!--Etiqueta propia de Angular para mostrar los componentes hijos-->
<router-outlet></router-outlet>
